#uipanel{
    width: 1366px;
    height: 768px;
    display: inline-block;
    border: 1px dashed #000;
    margin: 5px;
    position: relative;
  }

  .dragui{
    width: 100%;
    height: 100%;
  }

  .textbox{
    width: 200px; 
    background: rgba(255,255,255,0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 8px;
  }       

  .label{
    border: none !important;
    background: transparent;
  }       

  .button{
    width: 200px; 
    background: rgba(255,255,255,0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 8px;
  }     


  .dragobject{
    background: transparent;
    position: absolute;
    box-sizing: border-box;
    padding: 5px;
    border: 1px dashed #0000002e;
    box-shadow: -3px 3px 5px 0px #88888875;
  }

  #drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
  }

  .btn{
    width: 100%;
  }

  .selectedui{
    border: 1px solid #C4C4C4;
  }

  .unselectedui{
    border: transparent;
  }

  .settings{
    position: relative;
    width: 100%; 
    padding: 15px; 
    display: none; 
    border: 1px solid #000;
  }

  .hideMeButton{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    margin: 10px;
    background-color: #d80202;
    border-color: #d80202;
  }

  .hideMeButton:hover{
    background-color: #a50202;
    border-color: #9b0101;
  }

  #updateUI, #orderBack, #orderToBack{
    width: 45%;
    margin-right: 50px;
  }

  #deleteUI, #orderFront, #orderToFront{
    width: 45%;
  }

label {
   cursor: pointer;
   margin: 0;
   /* Style as you please, it will become the visible UI component. */
}

#files{
   opacity: 0;
   position: absolute;
   z-index: -1;
}